/* blog.css */

/* .wrapper {
    display: grid;
    grid-template-columns: repeat(6, 210px);
    grid-template-rows: repeat(2, 295px);
    gap: 20px; */
    /* padding: 20px; */
    /* justify-content: center;
    align-content: center;
    position: relative;
    height: 100vh;
}
.wrapper>.box:nth-child(1) {
    grid-column: span 2;
}

.wrapper>.box:nth-child(2) {
    grid-row: span 2;
    grid-column: span 2;
}

.wrapper>.box:nth-child(3) {
    grid-column: span 2;
}

.wrapper>.box:nth-child(4) {
    grid-column: span 2;
}

.wrapper>.box:nth-child(5) {
    grid-column: span 2;
}

.box {
    background-color: white;
    position: relative;
}

.h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: xx-large;  
    font-weight: 500;
}

.img{
    width: 100%;
    height: auto; */
    /* filter: blur(2px); */
/* }

.card-title, .card-date {
    position: absolute;
    color: white;
    font-weight: bold;
    padding: 20px;
   
}

.card-title {
    bottom: 20px;
    left: 20px;
    font-size: large;
}

.card-date {
    bottom: -10px;
    left: 20px;
    font-size: medium;
}
#img2{
    height: 609px;
}
/* @media (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
    }
    .wrapper>.box:nth-child(2) {
        grid-column: span 2;
    }
    .card-title, .card-date {
        padding: 10px;
    }

    .card-title {
        font-size: medium;
    }

    .card-date {
        font-size: small;
    }
    .img {
         height: 100%;
    }
} */
@media (max-width: 1024px) {
    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 15px;
    }
    .wrapper > .box:nth-child(2) {
        grid-column: span 2;
    }
    .card-title, .card-date {
        padding: 15px;
    }
    .card-title {
        font-size: medium;
    }
    .card-date {
        font-size: small;
    }
}


@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
    }
    .wrapper > .box:nth-child(2) {
        grid-column: span 2;
    }
    .card-title, .card-date {
        padding: 10px;
    }
    .card-title {
        font-size: medium;
    }
    .card-date {
        font-size: small;
    }
    .img {
        height: 100%;
    }
}


@media (max-width: 480px) {
    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 10px;
    }
    .wrapper > .box:nth-child(2) {
        grid-column: span 2;
    }
    .card-title, .card-date {
        padding: 5px;
    }
    .card-title {
        font-size: small;
    }
    .card-date {
        font-size: x-small;
    }
}
